*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto_VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* Variable range */
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* full variable weight range */
  font-style: normal;
}
:root {
  font-family: 'Roboto', 'Urbanist', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--primaryColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor: #071E22;
  --secondaryColor: #679289;
  --mainColor: #ffbd59;
  --greyColor: #b4b4b4;
  --whiteColor: #ffffff;
  --blueColor: #2694F3;


  --textColor: #d9d9d9;
  --textColor1: #b3d1de;
  --textColor3: #f4c095;

  /* --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%); */

}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html{
  font-size: 62.5%;
  color: var(--textColor);
}
body {
  margin: 0 auto;
  /* padding: 0 32px; */
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--textColor);
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 3.2rem;
}

p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: var(--textColor);
  text-decoration: none;
  &:hover {
    color: var(--mainColor);
  }
}
::placeholder {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


/**layout**/
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*grids*/
.grid {
  display: grid;
}
.grid-center{
  display: grid;
  place-items: center;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* flex */
.flex-col-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vc{
  display: flex;
  align-items: center;
}
.flex-hc{
  display: flex;
  justify-content: center;  
}
.flex-direction-col-vc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** Nav Section *****/  
.navbar-section{
  width: 100%;
  max-height: 5vw;
  /* background-color: #fff; */
  
  & .container{
    /* background-color: #890d0d; */
   
    padding: 1rem; 
  }
  & .logo-container img{
    width: 10%;
  }
  .navbar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--secondaryColor);

    & ul{
      display: flex;
      text-align: center;
      text-transform: uppercase;
      gap: 3rem;
    }

    & ul li a{
      font-weight: 600;
      font-size: 1.8rem;
    }
  } 
}
/***** End Nav Section *****/

main{
  height: 100%;
  width: 100%;
}

/***** Hero Section *****/  
.hero-section{
  width: 100%;
  height: calc(100vh - 5vw);
  position: relative;
  z-index: 0;
  /* background-color: #8a0505; */
  & .container{
    height: 100%;
    /* background-color: #b12323; */
  }
}
.hero-section .hero-heading{
  text-align: left;
  position: relative;
  z-index: 1;
  /* background-color: #2ae65c; */

  & h1{
    /* background-color: #3dc223; */
    letter-spacing: -6px;
    font-size: 12rem;
    font-weight: 700;
    line-height: .9;
    transform: translateY(-14%);
    -webkit-transform: translateY(-14%);
    -moz-transform: translateY(-14%);
    -ms-transform: translateY(-14%);
    -o-transform: translateY(-14%);
    
    
    & span{
      display: inline-block;
    }

    & .line-1{
      transform: translate(-15%);
      -webkit-transform: translate(-15%);
      -moz-transform: translate(-15%);
      -ms-transform: translate(-15%);
      -o-transform: translate(-15%);
      position: relative;
    }
    & .line-2{
      transform: translate(13%);
      -webkit-transform: translate(13%);
      -moz-transform: translate(13%);
      -ms-transform: translate(13%);
      -o-transform: translate(13%);
      position: relative;
}
  }

  & .hii-para{
    font-size: 3rem;
    font-weight: 600;
    transform: translateX(-13.5%) translateY(-40%);
    -webkit-transform: translateX(-13.5%) translateY(-40%);
    -moz-transform: translateX(-13.5%) translateY(-40%);
    -ms-transform: translateX(-13.5%) translateY(-40%);
    -o-transform: translateX(-13.5%) translateY(-40%);
}
}
.hero-heading::before{
  content: "";
  width: 97%;
  height: 100%;
  position: absolute;
  top: 4%;
  left: -2%;
  background-image: url("/images/hero-bg-curve.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #582eb8; */
  z-index: 0;
}
.line-2::after{
  content: "";
  width: 60%;
  height: 140%;
  position: absolute;
  top: -100%;
  right: -31%;
  background-image: url("/images/hero-ribbon.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #d40808; */
}
.line-1::before{
  content: "";
  width: 20%;
  height: 80%;
  position: absolute;
  bottom: -25%;
  right: -35.5%;
  background-image: url("/images/hero-flower.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #d40808; */
}
.line-2::before{
  content: "";
  width: 15%;
  height: 80%;
  position: absolute;
  bottom: -40%;
  left: -8%;
  background-image: url("/images/hero-ribbon-d.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  /* background-color: #d40808; */
}

.hero-para-container{
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  /*background-color: #b30e0e;
  */
  padding-top: 5rem;
  margin-bottom: -9rem;

  & p{
    font-size: 6rem;
  }
  & .hero-para{
    font-size: 1.8rem;
  }

  & span{
    display: inline-block;
    text-align: right;
  }
}
/***** End Hero Section *****/

/***** Scroll to explore style *****/  
.scroll-circle{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* background-color: #840a0a; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  & img{
    width: 10rem;
    height: auto;
  }

  & .circle{
    width: 60%;
    height: 60%;
    /* background-color: #a30f0f; */
    position: absolute;
    bottom: 22%;
    left: 20%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--mainColor);
    overflow: hidden;

    & .inner-circle{
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -100%;
      background-color: var(--mainColor);
    }
  }
}
.hero-section .container{
  position: relative;
}
/***** End Scroll to explore style *****/


/***** Theme toggle style *****/  
.theme-toggle-container{
  position: fixed;
  left: 0;
  top: 50%;
  /*background-color: #af2121;
  */border: 1px solid var(--mainColor);
  width: 2rem;
  height: 5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  overflow: hidden;
}
.sun{
  /* background-color: #fff; */
  width: 100%;
  height: 50%;
}
.moon{
  /* background-color: #a53434; */
  width: 100%;
  height: 50%;
}
.ball{
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--mainColor);
  position: absolute;
  bottom: 3%;
  left: 8%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/***** End Theme toggle style *****/






/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
