*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto_VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* Variable range */
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* full variable weight range */
  font-style: normal;
}
:root {
  font-family: 'Roboto', 'Urbanist', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--primaryColor);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor: #071E22;
  --secondaryColor: #679289;
  --mainColor: #ffbd59;
  --greyColor: #b4b4b4;
  --whiteColor: #ffffff;
  --blueColor: #2694F3;


  --textColor: #d9d9d9;
  --textColor1: #b3d1de;
  --textColor3: #f4c095;

  
  /* --glow-color: hsl(186, 91%, 4%); */

}
@media (prefers-color-scheme: light) {
  :root {
    --primaryColor: #F5F5F5;
    --textColor: #071E22;
  }
}

html{
  font-size: 62.5%;
  color: var(--textColor);
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  /* padding: 0 32px; */
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--textColor);
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 3.2rem;
}

p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}
img{
  user-select: none;
}

a {
  color: var(--textColor);
  text-decoration: none;
  &:hover {
    color: var(--mainColor);
  }
}
::placeholder {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body::-webkit-scrollbar{
  display: none;
}
body::selection{
  background-color: var(--textColor);
  color: var(--secondaryColor);
}
.contact-btn:focus-visible, 
.project-view:focus-visible,
.project-git-icon:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  border: 1px solid var(--secondaryColor);
  outline: 2px solid var(--secondaryColor);
  box-shadow: 2px 2px 10px var(--secondaryColor);
}

/**layout**/
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

/*grids*/
.grid {
  display: grid;
}
.grid-center{
  display: grid;
  place-items: center;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* flex */
.flex-col-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vc{
  display: flex;
  align-items: center;
}
.flex-hc{
  display: flex;
  justify-content: center;  
}
.flex-direction-col-vc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-direction-col-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/***** Nav Section *****/  
.navbar-section{
  width: 100%;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* background-color: #b81515; */
  
  & .container{
    padding: 0;
    /* max-height: 6rem; */
    padding: .5rem 4rem;
    background-color: var(--primaryColor);
    z-index: 10; 
    /* background-color: #1eb039; */
  }
  & .logo-container{
    width: 6rem;
    height: auto;
    margin-top: 1rem;
    /* background-color: #36119b; */
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #860e0e; */
    /* border-bottom: 1px solid var(--secondaryColor); */

    & ul{
      display: flex;
      text-align: center;
      text-transform: uppercase;
      gap: 3rem;
    }

    & ul li a{
      font-weight: 600;
      font-size: 1.8rem;
    }
  } 
}

.menu-btn{
  font-size: 1.8rem;
  padding: .5rem 2rem;
  gap: .5rem;
  background-color: transparent;
  border: 1px solid var(--textColor);
  border-radius: 2rem;
  cursor: pointer;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;

  & img {
    width: 2rem;
    margin-top: .2rem;
  }
  &:hover{
    background-color: var(--mainColor);
  }
}
.secondary-nav{
  display: none;
}
.primary-nav{
  display: block;
}
/***** End Nav Section *****/

main{
  height: 100%;
  width: 100%;
}

/***** Hero Section *****/  
.hero-section{
  width: 100%;
  height: 111vh;
  position: relative;
  overflow-y: hidden;
  z-index: 0;
  /* padding-top: 4vw; */
  /* background-color: #8a0505; */
  & .container{
    height: 100%;
    /* background-color: #17065b; */
    position: relative;
  }
}
.hero-section .hero-heading{
  text-align: left;
  position: relative;
  z-index: 1;
  /* overflow: hidden; */
  /* background-color: #2ae65c; */
  width: fit-content;
  
  & h1{
    /* background-color: #3dc223; */
    letter-spacing: -6px;
    font-size: 12rem;
    font-weight: 700;
    line-height: .9;
    transform: translateY(-14%);
    -webkit-transform: translateY(-14%);
    -moz-transform: translateY(-14%);
    -ms-transform: translateY(-14%);
    -o-transform: translateY(-14%);
      
    & span{
      display: inline-block;
      overflow: hidden;
    }
    & .line-1{
      transform: translate(-15%);
      -webkit-transform: translate(-15%);
      -moz-transform: translate(-15%);
      -ms-transform: translate(-15%);
      -o-transform: translate(-15%);
      position: relative;
    }
    & .line-2{
      transform: translate(13%);
      -webkit-transform: translate(13%);
      -moz-transform: translate(13%);
      -ms-transform: translate(13%);
      -o-transform: translate(13%);
      position: relative;
      /* background-color: #7b0e0e; */
      height: 12rem;
    }
  }
  & .hii-para{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: .5rem;
    transform: translateX(-13.5%) translateY(-40%);
    -webkit-transform: translateX(-13.5%) translateY(-40%);
    -moz-transform: translateX(-13.5%) translateY(-40%);
    -ms-transform: translateX(-13.5%) translateY(-40%);
    -o-transform: translateX(-13.5%) translateY(-40%);
  }
}
.hero-para-container{
  padding-top: 5rem;
  margin-bottom: -9rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  
  & p{
    font-size: 6rem;
  }
  & .hero-para{
    font-size: 1.8rem;
  }
  & span{
    display: inline-block;
    text-align: right;
  }
}
/*hero background curve style*/
.hero-bg{
  position: absolute;
  width: 65rem;
  height: auto;
  padding: 0 9rem 5.5rem 5rem;
  /* background-color: #940f7a; */
  transform: translate(-50% -50%);
  -webkit-transform: translate(-50% -50%);
  -moz-transform: translate(-50% -50%);
  -ms-transform: translate(-50% -50%);
  -o-transform: translate(-50% -50%);
  overflow: hidden;
  user-select: none;

  & img{
    object-fit: cover;
    animation: spin 2s ease-in-out;
    transform-origin: top center;    
  }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotateZ(360deg); -webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); }
}
.hero-bg-ribbon{
  position: absolute;
  bottom: 40%;
  right: -40%;
  width: 25rem;
  height: auto;
  user-select: none;
  /* background-color: #940f7a;*/

   & img{
    object-fit: cover;   
  }
}
.hero-bg-flower{
  position: absolute;
  bottom: 45%;
  right: -18%;
  width: 11rem;
  height: auto;
  user-select: none;
  /* background-color: #940f7a;*/

   & img{
    object-fit: cover;    
  }
}
.hero-bg-ribbon-d{
  position: absolute;
  bottom: -4%;
  left: 4%;
  width: 10rem;
  height: auto;
  user-select: none;
  z-index: 2;
  /* background-color: #940f7a;*/
  & img{
    object-fit: cover;   
  }
}
/***** End Hero Section *****/


/***** Scroll to explore style *****/  
.scroll-circle{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  /* background-color: #840a0a; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  user-select: none;
  z-index: 99;

  & img{
    width: 10rem;
    height: auto;
  }
  & .circle{
    width: 60%;
    height: 60%;
    /* background-color: #a30f0f; */
    position: absolute;
    bottom: 22%;
    left: 20%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--mainColor);
    overflow: hidden;
    & .inner-circle{
      width: 100%;
      height: 110%;
      position: absolute;
      bottom: -110%;
      z-index: 19;
      background-color: var(--mainColor);
    }
  }
}
.hero-section .container{
  position: relative;
}
.down-arrow-div{
  width: 5rem;
  height: auto;
  /* background-color: #720606; */
  display: grid;
  place-items: center;
  position: absolute;
  top: 14%;
  left: 5%;
  z-index: 99;

  & img{
    width: 4rem;
  }
}
/***** End Scroll to explore style *****/


/***** Theme toggle style *****/  
.theme-toggle-container{
  position: fixed;
  left: 0;
  top: 50%;
  background-color: var(--primaryColor);
  border: 1px solid var(--mainColor);
  width: 2rem;
  height: 5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 99;
}
.sun{
  /* background-color: #fff; */
  width: 100%;
  height: 50%;
}
.moon{
  /* background-color: #a53434; */
  width: 100%;
  height: 50%;
}
.ball{
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--mainColor);
  position: absolute;
  bottom: 3%;
  left: 8%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/***** End Theme toggle style *****/


/***** About Section styling *****/  
.about-section{
  height: 110vh;
  overflow-y: hidden;
  padding: 0;
  /* background-color: #4f0aa9; */
}
.about-main-wrapper{
  height: 80%;
  /* background-color: #390a6e; */
}
.about-me{
  /* background-color: #087b0a; */
  width: 100vw;
  padding: 1rem;
  position: relative;

  & p{
    max-width: 55rem;
    position: relative;
  }

  & .about-flower{
    width: 7rem;
    position: absolute;
    right: -1%;
    bottom: -29%;
  }
  & .about-clip{
    width: 7rem;
    position: absolute;
    right: 10%;
    bottom: -25%;
  }
}
.about-common-heading{
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 1rem;
  white-space: nowrap;
}
.about-common-para{
  padding: .5rem;
}
.tech-stack, .tools, .availability{
  /* background-color: #087b0a; */
  width: fit-content;
  padding: 1rem 5rem;
  position: relative;

  & .logo-icons{
    padding: 1rem;
    gap: 2rem;
  }
  & .logos{
    justify-content: end;
    align-items: center;
    width: 7rem;
    height: 9rem;
    gap: .5rem;
    /* background-color: #c50f0f; */

    & img, h3{
      transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
    }
  }
  & h2{
    position: relative;
  }
}
.tech-stack{
  margin-left: 5rem;
}
.logos img:hover{
  filter: drop-shadow(8px 8px 20px var(--secondaryColor));
  -webkit-filter: drop-shadow(8px 8px 20px var(--secondaryColor));
}
.logos h3:hover{
  filter: drop-shadow(4px 4px 10px var(--mainColor));
  -webkit-filter: drop-shadow(4px 4px 10px var(--mainColor));
  border-bottom: 2px solid var(--mainColor);
}
.stack-tools-connecter:hover{
  filter: drop-shadow(8px 8px 20px #e400ab);
}
.stack-tools-connecter{
  position: absolute;
  bottom: 7%;
  right: -25%;
  width: 10rem;
  height: auto;
  /*background-color: #fff;
  */z-index: 10;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}
.right{
  bottom: -10%;
  left: -14.3%;
}
.tech-stack-flower{
  position: absolute;
  top: -15%;
  left: 10%;
  width: 5rem;
}
.stack-flower{
  position: absolute;
  top: -15%;
  left: 0%;
  width: 6rem;
}
.availability{
  margin-left: 30rem;
  padding-bottom: 1rem;
  & h3{
    font-size: 2rem;
    max-width: 40rem;
    padding: .5rem 0;
    position: relative;
    /* background-color: #6a0f0f; */
  }
  & p{
    font-size: 1.5rem;
    max-width: 30rem;
    padding: 1.5rem 1rem;
  }
}
.contact-btn{
  border: 2px solid var(--mainColor);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  padding: .2rem 2rem;
  gap: .5rem;
  margin: 2.5rem 0;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  user-select: none;
}
 .contact-btn:hover{
    animation: shake-btn 0.5s infinite;
    -webkit-animation: shake-btn 0.5s infinite;
    box-shadow: 2px 2px 8px var(--secondaryColor);
}
  @keyframes shake-btn {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(-2px, 2px); -webkit-transform: translate(-2px, 2px); -moz-transform: translate(-2px, 2px); -ms-transform: translate(-2px, 2px); -o-transform: translate(-2px, 2px); }
    50%  { transform: translate(2px, 2px); }
    75%  { transform: translate(-2px, 2px); }
    100% { transform: translate(0, 0); }
  }
.dot{
  display: inline-block;
  width: .6rem;
  height: .6rem;
  background-color: rgb(0, 221, 0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.earth-clip{
    width: 10rem;
    position: absolute;
    left: -20%;
    bottom: -30%;

    & img:hover{
          filter: drop-shadow(4px 4px 30px var(--secondaryColor));
          -webkit-filter: drop-shadow(4px 4px 30px var(--secondaryColor));
}
}
/***** End About Section styling *****/


/***** Project Section styling *****/  
.project-section{
  width: 100%;
  height: auto;
  padding: 2rem;
  overflow: hidden;
  /* background-color: #c00b0b; */
}
.project-wrapper{
  text-align: left;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  /* background-color: #6e27b9; */

  & h2{
    font-size: 5rem;
    letter-spacing: .1px;
    text-transform: uppercase;
    padding: 2rem .5rem;
  }
}
#project-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: #49a10e; */
}
.project{
  /* background-color: #e615bc; */
  padding: .5rem;
  justify-content: space-between;

  & .leftPart{
    height: 100%;
    width: 100%;
    padding: .5rem;
    /* background-color: #cfc214; */

    & .projectTitle{
      font-size: 2.5rem;
      border-bottom: 1px solid var(--greyColor);
    }
    & .techUsed{
      font-size: 1.3rem;
      font-weight:600;
      letter-spacing: .1px;
      text-transform: uppercase;
      word-spacing: 1rem;
    }
  }
  & .rightPart{
    height: 100%;
    width: fit-content;
    padding: .5rem;
    gap: 1rem;
    /* background-color: #cfc214; */

    & .project-view{
      border: 1px solid var(--secondaryColor);
      align-items: center;
      /* background-color: #0ebac6; */
      font-size: 1.5rem;
      padding: .2rem 1rem;
      gap: .2rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;

      & img{
        width: 1.3rem;
        height: auto;
      }
    }
    & .project-git-icon{
      width: 3rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
.project:hover{
  box-shadow: 4px 4px 10px var(--secondaryColor);
}
/***** End Project Section styling *****/


/***** Section collaborate styling *****/  
.collaborate-section{
  width: 100%;
  height: 100vh;
  padding: 8rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  /* background-color: #b40d0d; */
}
.top-slider, .bottom-slider, .footer-slider{
  width: 100%;
  height: auto;
  background-color: var(--secondaryColor);
  padding: 1rem ;
  gap: 9.5rem;
  white-space: nowrap;

  & .inner-content{
    width: fit-content;
    gap: 9.5rem;
    /* background-color: #1c7770; */
  }
  & h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    white-space: nowrap;
    /* background-color: #ce0d81; */
  }
  & .slider-icon{
    width: 3.2rem;
    height: auto;
    /* background-color: #16ab40; */
  }
}
.cover, .cover2{
  width: 100%;
  height: 100%;
  gap: 9.5rem;
}
.bottom-slider{
  background-color: #7c0b0b;
  background-color: transparent;
  border-top: 2px solid var(--secondaryColor);
  border-bottom: 2px solid var(--secondaryColor);
}
.cover2{
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.collab-flower{
  position: absolute;
  bottom: -3%;
  right: -9%;
  width: 5rem;
  height: auto;
  user-select: none;

   & img{
    object-fit: cover;    
  }
}
.collaboration-content{
  position: relative;
  width: fit-content;
  /* background-color: #7e4cb8; */
  & span{
    display: inline-block;
    font-size: 4.5rem;
  }
}
.memorable-span{
  color: var(--secondaryColor);
}
.together-span{
  color: var(--mainColor);
}

/***** End Section collaborate styling *****/

/***** contact Section style *****/  
.contact-section{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: #c10c0c; */
}
.contact-wrapper{
  margin-top: 5rem;
  align-items: start;
  max-width: 40rem;
  width: auto;
  gap: 1rem;
  padding: 1.5rem;
  /* background-color: #119f09; */

  & p{
    text-align: left;
    font-size: 1.6rem;
    letter-spacing: -.01px;
    /* background-color: #03a951; */
  }
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  & input, textarea{
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    width: 100%;
    padding: 1rem;
  }
  & textarea{
    max-width: 100%;
    max-height: 9rem;
    
  }
  & label{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  & button{
    color: var(--textColor);
    width: 50%;
    height: auto;
    padding: 1rem;
    margin: 4rem auto 0 auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    cursor: pointer;
    transition: all .3s linear  ;
    -webkit-transition: all .3s linear  ;
    -moz-transition: all .3s linear  ;
    -ms-transition: all .3s linear  ;
    -o-transition: all .3s linear  ;
}
}
button:hover{
      background-color: var(--secondaryColor);
      border: none;
    }
input:hover, textarea:hover {
  border-color: var(--mainColor);
}

/***** End contact Section style *****/


/***** Footer Section style *****/  
.footer-section{
  width: 100%;
  height: 100vh;
  padding: 0;
  justify-content: flex-end;
  z-index: 0;
}
.footer-content-container{
  width: 100%;
  height: 55%;
  padding: 1.5rem 3.5rem;
  position: relative;
  background-color: var(--secondaryColor);
  gap: 1rem;
  
}
.footer-left{
  width: 70%;
}
.hii-div{
  position: absolute;
  top: -11%;
  left: 3%;

  & h3{
    font-size: 6rem;
    color: var(--mainColor);
    letter-spacing: -3px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  & .footer-ribbon{
    position: absolute;
    top: -70%;
    right: -200%;

    & img{
      width: 28%;
      filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
      -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    }
  }
}
.mail-div{
  padding-top: 3rem;
  padding-left: 1rem;
  border-bottom: 1px solid var(--greyColor);
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: #a41616; */

  & .mail-icon{
    /* background-color: #6f0e9c; */
    width: 2rem;
    height: auto;
  }
}
 .mail-div img:hover{
    animation: shake 0.5s infinite;
    -webkit-animation: shake 0.5s infinite;
}
  @keyframes shake {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(-5px, 0); }
    50%  { transform: translate(5px, 0); }
    75%  { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
  }

  .footer-para-div{
    /* background-color: #351789; */
    padding: 2.4rem 1rem;
    border-bottom: 1px solid var(--greyColor);

    & p{
      letter-spacing: .8px;
      max-width: 90%;
      font-size: 1.4rem;
      text-align: left;
    }
  }
.icons-div{
  border-bottom: 1px solid var(--greyColor);
  padding: 2rem 1rem;
  display: flex;
  gap: 1.5rem;
  /* background-color: #c61515; */
  & .icon{
    width: 3rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}  
.footer-right{
  width: 40%;

  & h3{
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  & li{
    line-height: 1.1;
    padding: 1rem;
  }
  & a{
    border: 1px solid var(--textColor);
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;

    &:hover{
      background-color: var(--textColor);
    }
  }
}
.copy-right-div{
  width: 100%;
  padding: 2rem 0;
  
  & p{
    font-size: 1.3rem;
    color: var(--greyColor);
  }
}  
/* other footer-styling is with the slider styling of collab section */
.footer-slider{
  background-color: transparent;

  & .slider-icon{
    width: 4rem;
  }
}
.mail-id:focus-visible,
.icons-div a:focus-visible,
.resume:focus-visible{
  border: 1px solid var(--textColor);
  outline: 2px solid var(--textColor);
  box-shadow: 2px 2px 10px var(--textColor);
}
/***** End Footer Section style *****/







/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
