*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto_VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* Variable range */
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* full variable weight range */
  font-style: normal;
}
:root {
  font-family: 'Roboto', 'Urbanist', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--whiteColor);
  background-color: var(--bgColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bgColor: #071E22;
  --whiteColor: #ffffff;
  --greyColor: #a5a5a5;

  /* --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%); */


}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html{
  font-size: 62.5%;
  color: var(--textColor);
}
body {
  margin: 0 auto;
  /* padding: 0 32px; */
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--textColor);
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 3.2rem;
}

p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: #646cff;
  text-decoration: none;
  &:hover {
    color: #535bf2;
  }
}
::placeholder {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


/**layout**/
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*grids*/
.grid {
  display: grid;
}
.grid-center{
  display: grid;
  place-items: center;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* flex */
.flex-{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vc{
  display: flex;
  align-items: center;
}
.flex-hc{
  display: flex;
  justify-content: center;  
}
.flex-direction-col-vc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}





/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
